{% extends "app/base.html" %}
{% load static %}

{% block title %}Image Color Picker - Extract Colors from Your Images | Shub Raj Apps{% endblock %}

{% block description %}Easily identify and select colors from your images with Shub Raj Apps' Image Color Picker. A simple tool for designers and artists to extract color values effortlessly.{% endblock %}

{% block keywords %}image color picker, color extractor, pick colors from image, online color tool, color selection tool, design tools{% endblock %}

{% block og_title %}Image Color Picker - Shub Raj Apps | Extract Colors from Your Images{% endblock %}

{% block og_description %}Select and extract colors from your images with our Image Color Picker tool. Ideal for designers seeking to capture color values for their projects.{% endblock %}

{% block content %}
    <h2>Image Color Selector</h2>
    <p>Upload an image and click on it to select colors in RGB, HEX, and HSL formats.</p>

    <!-- Image Upload Section in a Card -->
    <div class="picker-card image-picker">
        <label for="imageInput">Upload an image:</label>
        <input type="file" id="imageInput" src="{% static 'app/img/color-picker-demo.jpg' %}" accept="image/*">
    </div>

    <!-- Image Display and Color Picking in a Card -->
    <div class="picker-card image-area">
        <canvas id="imageCanvas"></canvas>
    </div>

    <!-- Color Values in a Card -->
    <div class="picker-card color-values">
        <div>
            <label for="hexValue">HEX:</label>
            <input type="text" id="hexValue" readonly>
        </div>
        <div>
            <label for="rgbValue">RGB:</label>
            <input type="text" id="rgbValue" readonly>
        </div>
        <div>
            <label for="hslValue">HSL:</label>
            <input type="text" id="hslValue" readonly>
        </div>
    </div>

    <section class="seo-blog">
        <h2>Discover the Perfect Colors with Our Image Color Picker</h2>
        <p>
            Are you a designer or artist looking to extract color values from your images effortlessly? Look no further! Our <a href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">Image Color Picker</a> provides a simple and efficient way to identify and select colors from any uploaded image.
        </p>
        <p>
            With just a few clicks, you can upload an image and pick colors in RGB, HEX, and HSL formats. Whether you're working on a design project or just exploring color palettes, this tool makes it easy to find and save the colors you love.
        </p>
        <p>
            Start enhancing your creative projects today. Upload your image and see how our Image Color Picker can simplify your color selection process.
        </p>
    </section>
{% endblock %}

{% block scripts %}
<script src="{% static 'app/js/colorPicker.js' %}"></script>
{% endblock %}
